<section class="intro">
    <div class="container">
        <h1 class="title-content">Contato</h1>
        <div class="page-content">
            <form class="form-content" action="">
                <div class="form-row">
                    <input type="text" name="name" placeholder="Nome*">
                    <input type="email" name="email" placeholder="E-mail*">
                </div>
                <div class="form-row">
                    <textarea name="message" placeholder="Mensagem*"></textarea>
                </div>
                <div class="form-row">
                    <button>Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>